.primary{
	color: #2ecc71;
}
.bg-primary{
	background-color: #2ecc71;
}
.b--primary{
	border-color: #2ecc71;
}


.v-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search input{
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 2px solid white;
	color: white;
}
