.primary{
	color: #2ecc71;
}
.bg-primary{
	background-color: #2ecc71;
}
.b--primary{
	border-color: #2ecc71;
}


.v-align{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.search input{
	transition: all 0.15s;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid #9eebcf;
	color: white;
	border-radius: 2px;
}
.search input:focus{
	border-bottom: 2px solid white;
		margin-right: 0%;
}
.navbar .search input.dirty{
	margin-left: 0% !important;
}
.navbar .search input:not(:focus){
	margin-left: 100%;
}
