// dark shades
$charles : #1A1B1E;
$eerie   : #24272D;
$metal   : #2D313D;

// colors
$space    : #434A42;
$granite  : #626C66;
$artichoke: #918B76;
$grullo   : #ACA885;
$pale     : #E1CA96;

// defaults
$success: #8CAD5D;
$warning: #DB9A59;
$error  : #B75343;
$info   : #4781AD;
